/* Add your styles for Todolist component here */

.App {
    text-align: center;
    margin-top: 30px;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    border-radius: 20px;
    width: 70px;
    padding: 10px;
    outline: none;
  }
  
  